obj/Debug/net8.0/miProyectoConsola.AssemblyInfo.cs
obj/Debug/net8.0/miProyectoConsola.AssemblyInfoInputs.cache
bin/Debug/net8.0/miProyectoConsola.dll
bin/Debug/net8.0/miProyectoConsola.exe
bin/Debug/net8.0/miProyectoConsola.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/miProyectoConsola.AssemblyInfo.cs
obj/Debug/net8.0/miProyectoConsola.AssemblyInfoInputs.cache
obj/Debug/net8.0/miProyectoConsola.dll
obj/Debug/net8.0/miProyectoConsola.pdb
obj/Debug/net8.0/miProyectoConsola.sourcelink.json
obj/Debug/net8.0/ref/miProyectoConsola.dll
obj/Debug/net8.0/refint/miProyectoConsola.dll
obj/Debug/net8.0/miProyectoConsola.AssemblyInfo.cs
obj/Debug/net8.0/miProyectoConsola.AssemblyInfoInputs.cache
bin/Debug/net8.0/miProyectoConsola.dll
bin/Debug/net8.0/miProyectoConsola.exe
bin/Debug/net8.0/miProyectoConsola.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/miProyectoConsola.AssemblyInfo.cs
obj/Debug/net8.0/miProyectoConsola.AssemblyInfoInputs.cache
obj/Debug/net8.0/miProyectoConsola.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/miProyectoConsola.dll
obj/Debug/net8.0/miProyectoConsola.pdb
obj/Debug/net8.0/miProyectoConsola.sourcelink.json
obj/Debug/net8.0/ref/miProyectoConsola.dll
obj/Debug/net8.0/refint/miProyectoConsola.dll
